@model MvcMovie.Models.ProductTypeViewModel

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Products" asp-action="Index" method="get">
    <p>
        Search for a book:
    </p>
    <p>
        Type:
        <select asp-for="ProductType" asp-items="Model.Types">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products![0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products![0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products![0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products![0].Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products!)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="createOrder" asp-route-id="@item.Id">Order</a>
                    @*<div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" onclick="createOrder(@item.Id)"/>
                    </div>*@
            </td>
        </tr>
}
    </tbody>
</table>
